<% cache do %>
<div class="container">
  <div class="faq">
    
    <center><h1>Frequently asked questions</h1></center>

    <h4><b>Electronic cigarettes</b></h4>
    <p>Electronic cigarettes are designed for users to inhale nicotine without most of the harmful effects of smoking. They deliver nicotine by heating and vapourising a solution that typically contains nicotine, propylene glycol and/or glycerine, and flavourings. As there is no burning involved, there is no smoke. Unlike cigarettes, e-cigarettes do not produce tar and carbon monoxide. The vapour has been found to contain some toxicants also found in cigarette smoke, but at much lower levels.</p>
    <br><br>
    <h4><b>What are e-cigarettes?</b></h4>
    <p>An e-cigarette is a device that allows you to inhale nicotine without most of the harmful effects of smoking.
    E-cigarettes work by heating and creating a vapour from a solution that typically contains nicotine, propylene glycol and/or glycerine, and flavourings. As there is no burning involved, there is no smoke. Unlike cigarettes, e-cigarettes do not produce tar and carbon monoxide. The vapour has been found to contain some potentially harmful chemicals also found in cigarette smoke, but at much lower levels.</p>
    <br><br>
    <h4><b>What are the different types of e-cigarette?</b></h4>
    <p>E-cigarettes generally consist of a battery, a vapourising chamber and e-cigarette liquid. The liquid can be contained in a sealed cartridge or can be added to a tank system. Some e-cigarettes use an atomiser cartridge or ‘cartomiser’ that combines the vapourising system and e-cigarette liquid in a single unit.
    The ‘first generation’ e-cigarettes are typically designed to look like a cigarette and generally use a cartomiser. ‘Second generation’ devices do not resemble cigarettes and contain a tank that the user fills with their choice of e-cigarette liquid, with various strengths and flavours available. More recently ‘third generation’ devices have emerged which have variable voltage and can be used with a range of atomisers, cartomisers and tank systems.</p>
    <br><br>
    <h4><b>Are e-cigarettes safe to use?</b></h4>
    <p>E-cigarettes are not risk free, but based on current evidence they carry a fraction of the risk of cigarettes. Public Health England’s independent review of the latest evidence found that using an e-cigarette (known as ‘vaping’) is around 95% safer than smoking.
    As well as nicotine, e-cigarette liquid and vapour can contain potentially harmful chemicals, although these are either at much lower levels than seen in cigarette smoke or at levels not associated with health risk.
    E-cigarettes are still fairly new and we won’t have a full picture on their safety until they have been in use for many years. Public Health England will continue to monitor the evidence as it develops.</p>
    <br><br>
    <h4><b>Is there any risk to others from e-cigarette vapour?</b></h4>
    <p>There is no evidence of harm to bystanders from exposure to e-cigarette vapour and available evidence indicates that any risk of harm is extremely low, especially when compared with tobacco smoke.</p>
    <br><br>
    <h4><b>Will e-cigarettes help me quit smoking?</b></h4>
    <p>Evidence indicates that e-cigarettes can help people quit smoking, with similar or better results than nicotine replacement therapies such as patches or gum. It is important to use your e-cigarette enough to properly manage your cravings – people who use e-cigarettes too little or too rarely have less success at quitting smoking. The most effective way to quit is with face-to-face expert support and this is available free from local NHS stop smoking services. People who combine e-cigarettes with this extra help have a very good chance of success – in 2014-15, two out of three people who did so managed to quit smoking. Find your local stop smoking service.</p>
    <br><br>
  </div>
</div>
<% end %>