<div class="container">
  
  <h2>Thank you for your purchase</h2>
  
  <p>You will receive an email confirmation with your order details</p>

  <%= link_to 'Continue shopping', products_path, class: 'btn btn-primary btn-lg' %>

</div>