// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************
*************************
PRODUCTS LIST PAGE USER
*************************
************************/
.products{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	.product-block{
		margin-bottom: 50px;
		border: 3px solid #dfdfdf;
		padding: 10px;
		border-radius: 5px;
	}
	h1{
		padding: 20px 0 60px 0;
	}
	h4{
		font-weight: bold;
		font-size: 2em;
	}
	.price{
		color: #689F38;
		margin: 10px 0;
	}
	#product-name{
		padding-top: 5px;
		font-size: 1.4em;
		height: 50px;
	}
	img{
		height: 200px;
		margin-bottom: 15px;
	}
	img:hover{
		opacity: 0.8;
	}
}
/************************
*************************
		SHOW PRODUCT PAGE
*************************
************************/
.show-product{
	padding-top: 60px;
	padding-bottom: 60px;
	font-size  : 1.15em;
}
.show-product-right{
	padding   : 15px 0 15px 0;
	text-align: left;
}
#product-img{
	width: 80%;
}
.glyphicon-usd{
	padding-left: 5px;
}
.comment-rate-product{
	padding: 40px 0 0 67px;
}
.product-reviews{
	padding-left: 15px;
}
/************************
*************************
		EDIT-NEW PRODUCT
*************************
************************/
.form-group{
	.form-control{
		margin-top: 0;
		padding-top: 0;
	}
	label{
		text-align: left;
	}
}
.product-header{
	padding: 15px 0 25px 0;
}

/************************
*************************
			MEDIA QUERY
*************************
************************/
@media (min-width: 320px) and (max-width: 425px){
	.show-product-right p{
		line-height   : 1.6;
		font-size     : 1.2em;
		letter-spacing: 1px;
		text-align    : justify;
		padding-bottom: 15px;
	}
	.comment-rate-product{
		padding: 40px 0 0 30px;
	}
}	

@media (min-width: 320px) and (max-width: 768px){
	.products{
		p{
		text-align: center;
		}
		
		h4{
		text-align : center;
		font-size  : 1.3em;
		padding-top: 10px;
		}
	}
	.show-product-right{
		text-align: center;
		padding   : 15px 50px;
	}
	.zoomContainer{
		display: none;
	}	
}
