// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************
*************************
PRODUCTS LIST PAGE USER
*************************
************************/
.products{
	padding: 30px 0;
	text-align: center;
	color: #000000;
	font-family: 'Montserrat';
	.product-block{
		background-color: #ececec;
		margin: 0 auto 50px auto;
		border: 1.5px solid #dcdcdc;
		padding: 6px 0;
		width: 212px;
		border-radius: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		// box-shadow: 0 0 14px 1px #424242;
	}
	h1{
		padding: 20px 0 60px 0;
		border-radius: 5px;
	}
	h3{
		padding: 10px 20px;
		display: inline-block;
		font-weight: bold;
		font-size: 2em;
		background: #ffffff;
		width: 200px;
		border-radius: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		// box-shadow: 0 0 14px 1px #424242;
	}
	.price{
		margin-top: 6px;
		color: #689F38;
	}
	#product-name{
		font-size: 1.3em;
		height: 70px;
		padding: 20px 10px;
		font-weight: bold;
		width: 200px;
	    margin-bottom: 6px;
	    display: inline-block;
	    background-color: #ffffff;
	    border-radius: 5px;
	    -o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		// box-shadow: 0 0 14px 1px #424242;
	}
	img{
		height: 200px;
		width: 200px;
	    background-color: #ffffff;
	    border-radius: 5px;
	    -o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	img:hover{
		opacity: 0.8;
	}
}
/************************
*************************
		SHOW PRODUCT PAGE
*************************
************************/
.show-product{
	padding: 20px 0 60px 0;
	letter-spacing: 1px;
	line-height: 1.6;
	font-family: 'Montserrat';
	.show-product-right{
		padding: 15px 0 15px 0;
		text-align: left;
	}
	#product-img{
		width: 80%;
	}
	.product-name{
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 2em;
		text-align: center;
		padding: 20px;
		border: 6px solid #f2f2f2;
		border-radius: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.product-description{
		margin-bottom: 15px;
		padding: 20px;
		border: 6px solid #f2f2f2;
		border-radius: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.product-payment{
		text-align: center;
		border: 6px solid #f2f2f2;
		border-radius: 5px;
		-o-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 20px 0 25px 0;
	}
	.product-price{
		font-weight: bold;
		font-size: 2.5em;
		color: #689F38;
	}
	hr{
		border: 1px solid #f2f2f2;;
	}
	.comment-rate-product{
		padding: 40px 0 0 67px;
		font-family: 'Lato';
	}
	.product-reviews{
		padding-left: 15px;
	}
}
/************************
*************************
		EDIT-NEW PRODUCT
*************************
************************/
.form-group{
	.form-control{
		margin-top: 0;
		padding-top: 0;
	}
	label{
		text-align: left;
	}
}
.product-header{
	padding: 15px 0 25px 0;
}

/************************
*************************
			MEDIA QUERY
*************************
************************/
@media (min-width: 320px) and (max-width: 425px){
	.show-product{
	    .col-xs-12{
	      padding: 10px 30px;
	    }
	  }
	.show-product-right p{
		line-height   : 1.6;
		font-size     : 1.2em;
		letter-spacing: 1px;
		text-align    : justify;
		padding-bottom: 15px;
	}
	.comment-rate-product{
		padding: 40px 0 0 30px;
	}
}	

@media screen and (min-width: 425px) and (max-width: 768px) {
  .show-product{
    .col-xs-12{
      width: 100%;
      margin: 0 auto;
      padding: 10px 30px;
    }
  }
}

@media (min-width: 320px) and (max-width: 768px){
	.products{
		p{
		text-align: center;
		}
		
		h4{
		text-align : center;
		font-size  : 1.3em;
		padding-top: 10px;
		}
	}
	.show-product-right{
		text-align: center;
		padding   : 15px 50px;
	}
	.zoomContainer{
		display: none;
	}	
}
