// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul li{
	display: block-inline;
}

#product-description{
	height: 170px;
}

#product-name{
	height: 40px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	margin: 0 auto;
}