* { 
	box-sizing: border-box; 
}

body{
	background-color: #D4D4D4;
	color: #191919;
	font-family: Arial, serif;
	height: 100%;
}

p{
	font-size: 1em;
}

footer{
	padding: 5px 0;
	margin-top: 15px;
	background-color: #F1654C;
	color: #D5CFC1;
	text-align: center;
}

.navbar{
	background-color: #3E4651;
}

.navbar li{
	display: inline-block;
	text-decoration: none;
	font-size: 1.1em;
	font-family: 'Futura', Arial, sans-serif;
}

.projectName a{
	color: #FFFFFF;
}

.projectName a:visited:hover{
	color: #00B5B5;
	background-color: #3E4651;
}

.navbar li a:visited{
	color: #FFFFFF;
}

.navbar a{	
	-webkit-transition: color 800ms;
}

.navbar li a:visited:hover{
	background-color: #D4D4D4;
	color: #00B5B5;
}

.navbar-toggle{
	border: 1px solid white;
}

.icon-bar{
	background-color: #FFFFFF;
}

h1{
	text-align: center;
}

.img-responsive{
	margin: 0 auto;
}


/**** About ****/
.about{
	margin: 0 40px;
}

/**** Contacts ****/
.contact-header{
	padding-top: 20px;
}

.contact-group .form-group{
	margin: 0 auto;
	padding: 10px 0;
}

#email-submit-button{
	margin-top: 20px;
}

/**** Media Query ****/
@media (min-width: 320px) and (max-width: 766px){
	body{
		padding-top: 40px;
	}
}

@media (min-width: 320px) and (max-width: 766px){
	.form-group label{
		width: 300px;
		margin: 0 auto;
	}
	#email-submit-button{
		width: 300px;
		margin: 20px auto;	
	}
	.form-group .form-control{
		width: 300px;
		margin: 0 auto;
	}
}

@media (min-width: 766px) {
	.form-group label{
		width: 450px;
		margin: 0 auto;
	}
	#email-submit-button{
		width: 450px;
		margin: 20px auto;	
	}
	.contact-group .form-control{
		width: 450px;
		margin: 0 auto;
	}
}
