* { 
	box-sizing: border-box; 
}

body{
	background-color: #D4D4D4;
	color: #191919;
	font-family: Arial, serif;
	height: 100%;
}

p{
	font-size: 1em;
}

footer{
	padding: 5px 0;
	background-color: #F1654C;
	color: #D5CFC1;
	text-align: center;
}

.navbar{
	background-color: #3E4651;
}

.navbar li{
	display: inline-block;
	text-decoration: none;
	font-size: 1.1em;
	font-family: 'Futura', Arial, sans-serif;
}

.projectName a{
	color: #FFFFFF;
}

.projectName a:visited:hover{
	color: #00B5B5;
	background-color: #3E4651;
}

.navbar li a:visited{
	color: #FFFFFF;
}

.navbar a{	
	-webkit-transition: color 800ms;
}

.navbar li a:visited:hover{
	background-color: #D4D4D4;
	color: #00B5B5;
}

.navbar-toggle{
	border: 1px solid white;
}

.icon-bar{
	background-color: #FFFFFF;
}

h1{
	text-align: center;
}

.img-responsive{
	margin: 0 auto;
}


/**** About ****/
.about{
	margin: 0 40px;
}

/**** Contacts ****/
.contact-header{
	padding-top: 20px;
}

.contact-group{
	padding-bottom: 15px;
}

.contact-group .form-group{
	margin: 0 auto;
	width: 350px;
	padding: 10px 0;
}

#email-submit-button{
	margin-top: 20px;
}

/**** Media Query ****/
@media (min-width: 300px) and (max-width: 766px){
	body{
		padding-top: 90px;
	}
}
