* { 
	box-sizing: border-box; 
}

body{
	background-color: #D4D4D4;
	color: #191919;
	font-family: Arial, serif;
	padding-top: 40px;
	height: 100%;
}

p{
	font-size: 1em;
}

.navbar{
	background-color: #3E4651;
}

.navbar li{
	display: inline-block;
	text-decoration: none;
	font-size: 1.1em;
	font-family: 'Futura', Arial, sans-serif;
}

.projectName a{
	color: #FFFFFF;
}

.projectName a:visited:hover{
	color: #00B5B5;
	background-color: #3E4651;
}

.navbar li a:visited{
	color: #FFFFFF;
}

.navbar li a:visited:hover{
	background-color: #D4D4D4;
	color: #00B5B5;
}

h1{
	text-align: center;
}

.img-responsive{
	margin: 0 auto;
}

.contacts{
	text-align: center;
	padding-bottom: 20px;
}

footer{
	padding: 10px 0;
	background-color: #F1654C;
	color: #D5CFC1;
	text-align: center;
}

/**** About ****/
.about{
	margin: 0 40px;
}

