.user-sign{
  margin        : 0 auto;
  max-width     : 330px;
  padding-top   : 40px;
  padding-bottom: 60px;
}

.confirmation{
  margin     : 0 auto;
  max-width  : 330px;
  padding-top: 40px;
}

.confirmation h2{
  padding-bottom: 20px;
}

