<div class="container">
  <br><br>
  <center><h1>Editing Category</h1></center>
  <%= render 'form', category: @category %>

  <%= link_to 'Show', @category %> |
  <%= link_to 'Back', categories_path %>
</div>