<div class="products">
  <div class="container">
    <center><h1><%= @category.name %></h1></center>
    <div class="row">
      <%= render @products, cache: Proc.new{|item| [item, 'show']} %>
    </div>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  </div>
</div>