<% if signed_in? && @comment_allowed %>
  <h4>Add a review:</h4>
  <br>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
      <%= f.text_area :body, cols: "60", rows: "5" %>
    </p>
    <p>
      <div class="rating"></div>
    </p>  
    <br>
    <p>
      <%= f.submit "Submit", class: "btn btn-default" %>
    </p>
  <% end %>
<% else %>
  <h4><%= @product.name %><i> Reviews</i></h4>
<% end %>