<div class="products">
  <div class="container">
    <div class="row">
    <% if (@products.empty?) %>
        <h1>No products found</h1>
    <% else %>
         <h1>All products</h1>
        <%= render @products, cache: Proc.new{|item| [item, 'show']} %>
    <% end %>
    </div>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  </div>
</div>