<div class="container">
  <center><h1 id="listing-products">All products</h1></center>
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
</div>

<br>

