<!DOCTYPE html>
<html>
<head>
  <title>Chopper shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<ul>
		<a href="index.html"><li>Home</li></a>
		<a href="about.html"><li>About</li></a>
		<a href="contact.html"><li>Contact</li></a>
	</ul>
</nav>

<%= yield %>

<footer>
	&copy; 2016 Chopper shop Vilnius 
</footer>

</body>
</html>
